.login-wrapper{
  width:40%;
  margin:auto;
}

.nav-bar{
  height:10vh;
  background-color: #f9fbfd;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 12px;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #4b0dba;
}
.nav-text{
  color: #4b0dba;
}
.create-query{
  height:8vh;
  background-color: #f0efff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 15px;
}
.profile{
  font-size: 30px;
  font-weight: 500;
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  color:#4b0dba;
}

.query-board{
  display: flex;
  padding: 15px;
}


.create-btn{
  background-color:rgb(255, 255, 255);
  font-weight:500;
  font-size: 15px;
  padding:8px;
  color:#4b0dba;
  border-radius: 7px;
  padding: 10px;
  border-color: #4b0dba;
}

.createcreate-btn{
  background-color:#4b0dba;
  font-weight:500;
  font-size: 15px;
  color:#ffffff;
  border-radius: 7px;
  padding: 5px;
  border: none;
}

.cancel{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 10px;
  padding:50px;
}
.queryGap{
  display: grid;
  width:50%;
  margin:15px;
}

.all-queries{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.queries{
  border: 1px solid rgb(179, 177, 177);
  border-radius: 7px;
  height: 120px;
  cursor: pointer;
}

.queryData{
  display: flex;
  justify-content:space-between;
  padding: 15px;
}

.queryTitle{
  font-size: 20px;
  font-weight: 700;
  color:#555a8f;
}

.category{
  background: #f7f5fc;
  color:#b182ff;
  border-radius: 10px;
  width: auto;
  padding:3px;
  font-size: 15px;
  font-weight: 600;
}

.createdAt{
  font-weight: 500;
  opacity: 60%;
}

.resolved{
  border-radius: 7px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.open-queries{
  width:50%;
  background-color: #ffffff;
  border: 1px solid rgb(179, 177, 177);
  border-radius: 8px;
  height:75vh;
}

.openQuerytitle{
  font-size: 20px;
  padding:20px;
  margin:15px;
  font-weight: 500;
  color: rgb(83, 80, 80)
}

.assignedAll{
  display: flex;
  justify-content: space-between;
}

.assigned{
  padding:20px;
}
.spanOpacity{
  opacity: 70%;
}

.solved{
  display: flex;
  justify-content: center;
  padding-top:5rem;
}

.container{
  width:768px !important;
  border-radius: 8px !important;
  box-shadow: 0px 0px 8px 7px rgba(62,66,66,0.11) !important;
  margin-top: 15px;
}

.baseContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:8px;
  margin:8px;
  gap: 15px;
}

.topic{
  font-weight:500;
  font-size: 15px;
  color:#4b0dba;
  padding:20px;
}

.queryCategory{
  width:60%;
  font-weight:500;
}
.text-field{
  display: flex;
  flex-direction: column;
  gap:5px;
}
.buttons{
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1000px){
  .queries{
    height: 150px;
  }
  .resolved{
    height: 40px !important;
  }
  .profile{
      width:15%;
  }
}  

@media (max-width: 800px){
    .queries{
      height: 140px;
  }
  .resolved{
      height:30px !important;
  }
  .profile{
      width:18%;
  }
}  

@media (max-width: 750px){
  .queries{
    height: 100px;
  }
  .category{
    display: none;
  }
  .createdAt{
    display: none;
  }
  .buttons{
    height:70px;
    width:auto;
  }
}  

@media (max-width: 650px){
  .queries{
    height: 110px;
  }
}  

@media (max-width: 550px){
  .queries{
    height: 150px;
  }
  .solved{
    padding-top:1rem;
  }
}  

@media (max-width: 577px){
  .container{
    width:500px !important;
  }
  .profile{
    width:22%;
}
}  

@media (max-width: 510px){
  .container{
    width:450px !important;
  }
  .profile{
    width:25%;
}
}  

@media (max-width: 485px){
  .container{
    width:400px !important;
  }
  .profile{
    width:25%;
}
}  

@media (max-width: 440px){
  .container{
    width:390px !important;
  }
  .profile{
    width:28%;
}
}  

@media (max-width: 490px){
  .queries{
    height: 180px;
  }
}  


